<div class="win_container">
<div class="column" id="window">
  <h2>{{title}}</h2>
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" required id="username" [(ngClass)]="username" />
    <h2>{{username}}</h2>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" required id="password" [(ngClass)]="password" />
    <h2>{{password}}</h2>
  </div>
  <div class="form-group">
    <button type="submit" (click)="onSubmit()" class="text">Sign in</button>
  </div>

  <!-- social media-->
  <div style="display: flex; flex-direction: row; justify-content: space-around; width: 60%">
    <div style="width: 50px; height: 50px; border-radius: 100%; background-color: cornflowerblue"></div>
    <div style="width: 50px; height: 50px; border-radius: 100%; background-color: lightskyblue"></div>
    <div style="width: 50px; height: 50px; border-radius: 100%; background-color: red"></div>
  </div>

  <h3>or</h3>
  <button class="text" routerLink="/join" routerLinkActive="active">Sign up</button>
</div>
</div>
<a routerLink="/" routerLinkActive="active" id="page"></a>
