<div class="win_container">
<div class="column" id="window">
  <h2>{{title}}</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="column">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
      <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
        <div *ngIf="f.username.errors.required">Username is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">Password is required</div>
      </div>
    </div>
    <div class="invalid-feedback">{{error}}</div>
    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary text">Sing in</button>
    </div>
  </form>
  <!-- social media-->
  <div style="display: flex; flex-direction: row; justify-content: space-around; width: 60%">
    <div style="width: 50px; height: 50px; border-radius: 100%; background-color: cornflowerblue"></div>
    <div style="width: 50px; height: 50px; border-radius: 100%; background-color: lightskyblue"></div>
    <div style="width: 50px; height: 50px; border-radius: 100%; background-color: red"></div>
  </div>

  <h3>or</h3>
  <button class="text" routerLink="/join" routerLinkActive="active">Sign up</button>
</div>
</div>
<a routerLink="/" routerLinkActive="active" id="page"></a>
