<div class="btnpanel">
  <a routerLink="/events/create" class="button">
    <div id="plusicon"></div>
    <div>Create event</div>
  </a>
  <a routerLink="/events/my-events" class="button">
    <div id="eventicon"></div>
    <div>My events</div>
  </a>
</div>
<ul class="events">
  <li *ngFor="let event of events$ | async" class="event"
      [class.selected]="event.id === selectedId">

    <div class="row">
      <div class="icon"></div>
      <a [routerLink]="['/events/event', event.id]" class="header">{{event.name}}</a>
    </div>

    <div class="description" >
      <li *ngFor="let str of event.description" class="text">{{str}}</li>
  <a [routerLink]="['/events/event', event.id]" class="text">more details here...</a>
    </div>

  </li>
</ul>
