<div style="height: 40%">
  <app-navigation [inputTitle]="'duck sharing'"></app-navigation>
</div>
<div class="row" style="justify-content: space-around; margin-top: 4em">
  <div class="column requests">
    <div class="flag"><h2 class="title">MY REQUESTS</h2></div>
    <app-my-requests></app-my-requests>
  </div>
  <div class="column panel">
    <div class="flag"><h2 class="title">DUCKS</h2></div>
    <ul class="row ducks">
      <li *ngFor="let duck of ducks" style="list-style: none" class="duck" [class.selected]="duck.id === selectedId">
        <div class="image"></div>
        <div class="name">{{duck.name}}</div>
        <div class="description">
          {{duck.description}}
        </div>
        <button (click)="sendRequest(duck.id)">Send request</button>
        <div class="description" style="color: red">{{this.error}}</div>
      </li>
    </ul>
  </div>
</div>
