<div style="height: 40%">
  <app-navigation [inputTitle]="'about us'"></app-navigation>

  <div class="about">
    <div>
    <p>Welcome to our amiable Rubber Ducks Fan Club! 🦆</p>
    <p>We are glad to see everyone who wants to join us, it's more fun to be together.
    As you can guess, we are really into all things connected to Rubber Ducks such as hanging around together,
    racing in fountains, celebrating our oun holidays. (All our upcoming events can be found on
    <a routerLink="/events" routerLinkActive="active" class="text">Events</a> page and you are invited to all of them)</p>

    <p>After you have visited some amazing Rubber Ducks Festivals, you migth start thinking of buying your own rubber quacking
    friend but it's difficult to make such serious choice immediately...</p>
    <p>Here comes our innovative project <a routerLink="/home/duck-sharing" routerLinkActive="active" class="text">Duck Sharing</a>!
      It provides you with a unique opportunity to become a temporary owner of a fantstic Rubber Duck (which actually belongs to another member of the Club,
      who is happy to share it with you)</p>
    <p>Have a quack day!</p> 
    </div>
  </div>
</div>
