.image{
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background: center no-repeat #FFFFFF url("../../../img/user-logo-brown.svg");
  background-size: cover;
  margin-top: 2em;
  margin-bottom: 1em;
}
.row{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 4em;
}
.column{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.table{
  background-color: #FFFFFF;
  padding: 30px;
  width: 48%;
  border-style: outset;
}
.t{
  border: solid 1px #EDA31D;
  padding: 5%;
}
label, output{
  font-size: 1.5em;
  height: 1.6em;
  white-space: nowrap;
  margin-right: 1.5em;
}
.button{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  white-space: nowrap;
  align-items: center;
  background-color: #B4957C;
  color: #FFFFFF;
  font-size: 1.6em;
  padding: 3% 8% 3% 8%;
  margin-bottom: 0.5%;
  border-style: outset;
  border-radius: 15%;
}
#duckicon{
  background: center no-repeat url("../../../img/duck-logo2.png");
  background-size: 35px 35px;
  margin-right: 2%;
  width: 40px;
  height: 40px;
}
#seticon{
  background: center no-repeat url("../../../img/settings.png");
  background-size: 35px 35px;
  margin-right: 2%;
  width: 40px;
  height: 40px;
}
