<div style="height: 40%">
  <app-navigation [inputTitle]="'my account'"></app-navigation>
</div>
<div class="row" style="margin-top: 4em;">
  <div class="column">
    <div class="image"></div>
    <a routerLink="/home/my-ducks" class="button">
      <div id="duckicon"></div>
      <div>My ducks</div>
    </a>
    <a [routerLink]="['/home/settings', user.id]" class="button">
      <div id="seticon"></div>
      <div>Settings</div>
    </a>
    <a (click)="logout()" class="button">
      <div id="quiticon"></div>
      <div>Log out</div>
    </a>
  </div>
  <div class="column table">
    <div class="row t" style="margin-top: unset">
      <div class="column lab" style="align-items: flex-start">
        <label for="username">Username:</label>
        <label for="email">E-mail:</label>
        <label for="first">First name:</label>
        <label for="last">Last name:</label>
        <label for="gender">Gender:</label>
        <label for="birthday">Birthday: </label>
        <label for="city">City:</label>
        <label for="address">Address:</label>
      </div>
      <div class="column val" style="align-items: flex-start">
        <output id="username">{{user.nickname}}</output>
        <output id="email">
          <div *ngIf="user.email != 'null'">{{user.email}}</div>
        </output>
        <output id="first">
          <div *ngIf="user.firstName != 'null'">{{user.firstName}}</div>
        </output>
        <output id="last">
          <div *ngIf="user.lastName != 'null'">{{user.lastName}}</div>
        </output>
        <output id="gender">
          <div *ngIf="user.gender === 'm'">Male</div>
          <div *ngIf="user.gender === 'f'">Female</div>
          <div *ngIf="user.gender === '-'">None</div>
        </output>
        <output id="birthday">
          <div *ngIf="user.birthDate != 'null'">{{printDate(user.birthDate)}}</div>
        </output>
        <output id="city" class="row">
          <div *ngIf="user.city != 'null'">{{user.city}}</div><div *ngIf="uuntry != 'null'">, {{user.country}}</div>
        </output>
        <output id="address" class="row">
          <div *ngIf="user.street != null">
            <div *ngIf="user.building != 'null'" class="row">
              <div>{{user.building}}</div>
              <div *ngIf="user.buildingLetter != 'null'">{{user.buildingLetter}}</div>
              <div>, {{user.street}}</div>
            </div>
          </div>
        </output>
      </div>
    </div>
  </div>
  <div class="column">

  </div>
</div>
