<div style="height: 40%">
  <app-navigation [inputTitle]="'my events'"></app-navigation>
</div>
<div class="btnpanel">
  <a routerLink="/home/create-event" class="button">
    <div id="plusicon"></div>
    <div>Create event</div>
  </a>
</div>
<ul class="events">
  <li *ngFor="let event of events" class="event"
      [class.selected]="event.id === selectedId">

    <div class="row">
      <div class="icon"></div>
      <a [routerLink]="['/event', event.id]" class="header">{{event.name}}</a>
    </div>

    <div class="description" >
      <div class="text">When? {{printDate(event.date)}} {{printTime(event.date)}}
        <div class="row" style="justify-content: baseline">
          <div style="display: flex">How much? </div>
          <div style="display: flex" *ngIf="event.cost != 0">Just {{event.cost}}$!</div>
          <div style="display: flex" *ngIf="event.cost === 0">For free!</div>
        </div>
        <div *ngIf="event.isClubOnly === 'true'" style="color: red"> ONLY FOR CLUB MEMBERS</div>
        <div *ngIf="event.maxPeople != 0">Places are limited</div>
        <a [routerLink]="['/home/event', event.id]">Look for the details!</a>
      </div>
  </div>

</ul>
