<div class="win_container">
  <div class="column" id="window">
    <h2>{{ title }}</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="column">
        <h3 class="label"  for="email">Write your e-mail</h3>
        <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">E-mail is required</div>
          <div *ngIf="f.email.errors.pattern">E-mail is not correct</div>
        </div>
        <h3 class="label"  for="password">Create your password</h3>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Password is required</div>
        </div>
        <button [disabled]="loading" class="btn btn-primary text">Continue</button>
    </form>
    <!-- social media-->
    <h3>or Sign up with</h3>
    <div style="display: flex; flex-direction: row; justify-content: space-around; width: 60%">
      <div style="width: 50px; height: 50px; border-radius: 100%; background-color: cornflowerblue"></div>
      <div style="width: 50px; height: 50px; border-radius: 100%; background-color: lightskyblue"></div>
      <div style="width: 50px; height: 50px; border-radius: 100%; background-color: red"></div>
    </div>
  </div>
</div>
<a routerLink="/" routerLinkActive="active" id="page"></a>
