<div style="height: 40%">
  <app-navigation [inputTitle]="'events'"></app-navigation>
</div>

<div class="column">
  <div *ngIf="event" class="event">
    <div>
      <div class="row">
        <div class="icon"></div>
        <div class="header">{{event.name}}</div>
      </div>
      <div class="text data">
        <div>Date: {{printDate(event.date)}} {{printTime(event.time)}}</div>
        <div>Cost: {{event.cost}}$</div>
        <div>City: {{event.place.city}}, {{event.place.country}}</div>
        <div class="row" style="justify-content: flex-start">
          <div>Address: {{event.place.name}} {{event.place.building}}</div>
          <div *ngIf="event.place.buildingLetter != '-'">{{event.place.buildingLetter}}</div>
          <div>, {{event.place.street}}</div>
        </div>
        <div *ngIf="event.isClubOnly">Maximum participants: {{event.maxPeople}}</div>
      </div>
      <div class="description text" >
        <li *ngFor="let str of event.description" class="text">{{str}}</li>
      </div>
    </div>
    <div class="row">
    <button *ngIf="event.isClubOnly && (event.maxPeople != 0)" (click)="register()">Register to the event</button>
    </div>
    <div *ngIf="isRegistered" class="row">You've registered to this event</div>
    <div (click)="back()" id="back" class="row">Back</div>
  </div>
</div>
