<!--The content below is only a placeholder and can be replaced.-->
<b></b>
<div>
  <h1>
    {{ title }}
  </h1>
</div>
<nav>
  <a routerLink="/about" routerLinkActive="active" style="left: 45px;">About us</a>
  <a routerLink="/events" routerLinkActive="active" style="left: 173px;">Events</a>
  <a routerLink="/join" routerLinkActive="active" style="left: 971px;">Join us or</a>
  <a routerLink="/login" routerLinkActive="active" style="left: 1095px;">Login in</a>
</nav>
<div class="container" [@routeAnimation]="getAnimationData(routerOutlet)">
  <router-outlet #routerOutlet="outlet"></router-outlet>
</div>
