.page{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60%;
}
h2{
  font-size: 6em;
}
.img{
  width: 100px;
  height: 100px;
  background: no-repeat center url("../../../img/duck-home.svg");
  background-size: cover;
}
