<b>
  <div class="nav_container">
    <div class="item">
      <nav id="leftnav">
        <a routerLink="/about" routerLinkActive="active" class="text">About us</a>
        <a routerLink="/events" routerLinkActive="active" class="text">Events</a>
      </nav>
    </div>
    <div class="item">
      <nav id="rightnav">
        <a routerLink="/join" routerLinkActive="active" class="text">Join us</a>
        <a routerLink="/login" routerLinkActive="active" class="text">Log in</a>
      </nav>
    </div>
  </div>
</b>
<router-outlet></router-outlet>

