.win_container{
  height:100%;
}
.text{
  font-family: 'Risque', cursive;
  font-style: normal;
  font-weight: normal;
}
.nav_container{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
}
.item{
  flex-grow: 2;
}
#rightnav{
  margin: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
#leftnav{
  margin: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
#accicon{
  z-index: 2;
  display: flex;
  margin-right: 20px;
  margin-left: 1%;
  width: 40px;
  height: 40px;
  background: no-repeat url("../../img/user-logo.svg");
  background-size: cover;
}
#icon{
  z-index: 2;
  display: flex;
  margin-left: 20px;
  margin-right: 1%;
  width: 70px;
  height: 70px;
  background: no-repeat url("../../img/duck-logo.svg");
  background-size: cover;
}
a{
  z-index: 2;
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;

  line-height: 31px;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0.05em;

  color: #FFFFFF;
}
b{
  position: absolute;
  height: 40%;
  width: 100%;
  left: 0;
  top: 0;

  z-index: 0;
  background: no-repeat url("../../img/background-image-small.png");
  background-size: cover;
}
#title{
  width: fit-content;
  padding: 0.2em 4% 0.2em 4%;
  margin: unset;
  color: #FFFFFF;
  white-space: nowrap;
  font-size: 2.2em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
#flag{
  width: fit-content;
  background: no-repeat url("../../img/flag.svg");
  background-size: cover;
  background-clip: padding-box;
  margin-left: unset;
  padding-left: 4%;
  padding-right: 10%;
  margin-bottom: 2%;
  z-index: 3;
}
