<div style="height: 100%; z-index: 0">
<b>
  <div class="nav_container">
    <div class="item">
      <nav id="leftnav">
        <img id="icon"/>
        <a routerLink="/events" routerLinkActive="active" style="margin-left: unset" class="text">RUBBER DUCKS' FAN CLUB</a>
      </nav>
    </div>
    <div class="item">
      <nav id="rightnav">
        <a routerLink="/about" routerLinkActive="active" class="text">About us</a>
        <a routerLink="/events" routerLinkActive="active" class="text">Events</a>
        <a routerLink="/home/duck-sharing" routerLinkActive="active" class="text">Duck Sharing</a>
        <a routerLink="/home/my-account" routerLinkActive="active" class="text" style="margin-right: unset">My account</a>
        <img id="accicon"/>
      </nav>
    </div>
  </div>
</b>
</div>
<div id="flag"><h2 id="title" class="text">{{inputTitle}}</h2></div>
