.pimage{
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background: center no-repeat #FFFFFF url("../../../img/user-logo-brown.svg");
  background-size: cover;
  margin-bottom: 1em;
}
.image{
  width: 150px;
  height: 150px;
  background: center no-repeat #FFFFFF url("../../../img/duck-image.svg");
  background-size: cover;
  border-style: outset;
  margin-top: 10px;
  margin-bottom: 10px;
}
.row{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 4em;
}
.column{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.table{
  background-color: #FFFFFF;
  padding: 30px;
  width: 48%;
  border-style: outset;
}
.t{
  border: solid 1px #EDA31D;
  width: 90%;
  padding: 5%;
}
output{
  font-size: 1.5em;
  height: 1.6em;
  white-space: nowrap;
  margin-right: 1.5em;
}
.lab{
  width: 45%;
  border-right: 1px solid #EDA31D;
}
.val{
  width: 45%;

}
